<!DOCTYPE html>
<html>
<head>
  <title>midnight</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= "#{controller.controller_name}" %>'
               data-controller="<%= params[:controller] %>"
               data-action="<%= params[:action] %>">
  <header>
    <div id="background_image">
      <h1 id="title">midnight</h1>
    </div>
  </header>

<%= yield %>

</body>
</html>
