<!DOCTYPE html>
<html>
<head>
  <title>midnight</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet" type="text/css">
</head>
<body class='<%= "#{controller.controller_name}" %>'
               data-controller="<%= params[:controller] %>"
               data-action="<%= params[:action] %>">
  <!--
  <header>
    <div id="background_image">
      <h1 id="title">midnight</h1>
    </div>
  </header>
-->

<%= yield %>

</body>
</html>
